<form  class="add-form"(ngSubmit)="onSubmit()">
    <div class = "form-control">
        <label for="author">Author</label>
        <input type = "text" name = "author"   [(ngModel)]="author"
        id = "author" placeholder="Add Author" />
    </div>
    <div class = "form-control">
        <label for="title">Title</label>
        <input type = "text" name = "title"   [(ngModel)]="title"
        id = "title" placeholder="Add Title" />
    </div>
    <input type="submit" value="Save Post" 
    class = "btn btn-block" />
</form>
